<configuration>
  <property name="LOG_DIR" value="/data/data/com.example/files" />

  <!-- Create a logcat appender -->
  <appender name="logcat" class="ch.qos.logback.classic.android.LogcatAppender">
    <encoder>
      <pattern>%msg</pattern>
    </encoder>
  </appender>


  <!-- Write INFO (and higher-level) messages to logcat -->
  <root level="DEBUG">
    <appender-ref ref="logcat" />
  </root>
</configuration>